@{
    Layout = null;
}
<style>
.page,li {margin:0 auto;}
.page .title {margin-left:5px;}
.page ul {padding:0;list-style:none;}
.page ul li {font-size:15px;border:1px solid #444444;margin-bottom:15px;}
.page ul li:first-child {width:200px;height:200px;line-height:200px;}
.page ul li:last-child {width:200px;height:60px;line-height:60px;}
.page ul li a {margin-left:10%;}
</style>
<div class="page">
    <div class="title"><h2>굿앤이미지</h2></div>
    <ul>
        <li><a>표시될 이미지입니다.</a></li>
        <li><a>좋아요 영역입니다.</a></li>
    </ul>
</div>