@{
    Layout = null;
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<head>
<style>
body{ background-color:gray; border: 10px solid;}
.divTest{ background-color:white; display:inline-block; } 
.divTest h5{ text-align:left; }
.divTest p{ color:black; width:300px; } 
.divTest1{ background-color:white; display:inline-block; }
.divTest1 h5{ text-align:left; }
.divTest1 p{ color:black; width:300px;}
.divTest2{ background-color:white; display:inline-block; }
.divTest2 h5{ text-align:left; }
.divTest2 p{ color:black; width:300px; }
</style>
</head>
<body>
      <div style="flex-direction: column; padding-bottom: 12950px; padding-top:0px;">           
              <div class="divTest">
                  <h5>BaD-Mouth가 대신 전해드립니다.</h5>                  
                    <p>
                          오늘 길 가다가 검은 옷 입었다는 이유로 인터뷰 붙잡혔는데, 다짜고짜 스물 세살 정도로 보인대. 열아홉인데요 하니깐 훈훈한데 성숙해 보여서 그런 거래. 이거 앞담 박았다가 무안해서 억지로 말하는 거지? 악마쉐리덜... 
                    </p>                
              </div>
          <div class="divTest1">
              <h5>BaD-Mouth가 대신 전해드립니다.</h5>
              <p>
                  test
              </p>
          </div>
          <div class="divTest2">
              <h5>BaD-Mouth가 대신 전해드립니다.</h5>
              <p>
                  test
              </p>
          </div>
      </div>
</body>