@{
    Layout = null;
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<head>
<style>
html, body{ background-color:gray; padding: 0; margin: 0; width: 100%; height: 100%;}
#title { width: 100%; height: 50px; background-color: beige; margin-bottom: 5px; }
#wrap { width: 300px; margin: auto; }
.divTest{ background-color:white; display:inline-block; padding: 5px 10px; margin-bottom: 10px; box-sizing:border-box; } 
.divTest h5{ text-align:left; }
.divTest p{ color:black; width:300px; } 
</style>
</head>
<body>
    <div id="title">Title</div>
      <div id="wrap">           
              <div class="divTest">
                  <h5>BaD-Mouth가 대신 전해드립니다.</h5>
                  <hr />
                    <p>
                          오늘 길 가다가 검은 옷 입었다는 이유로 인터뷰 붙잡혔는데, 다짜고짜 스물 세살 정도로 보인대. 열아홉인데요 하니깐 훈훈한데 성숙해 보여서 그런 거래. 이거 앞담 박았다가 무안해서 억지로 말하는 거지? 악마쉐리덜... 
                    </p>                
              </div>
          <div class="divTest">
              <h5>BaD-Mouth가 대신 전해드립니다.</h5>
              <hr />
              <p>
                  test
              </p>
          </div>
          <div class="divTest">
              <h5>BaD-Mouth가 대신 전해드립니다.</h5>
              <hr />
              <p>
                  test
              </p>
          </div>
      </div>
</body>